body {
  background: #111;
  color: white;
}

#info {
  color: rgb(255, 0, 168);
  font-family: sans-serif;
  font-size: 5em;
}

canvas {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
